<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcroPlotUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <AcroPlotUI.Properties.Settings>
            <setting name="AcroPlotPath" serializeAs="String">
                <value>C:\Program Files (x86)\AcroPlot Repro\AcroPlotRepro.exe</value>
            </setting>
            <setting name="DefaultPattern" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DefaultOutputDevice" serializeAs="String">
                <value>tiffg4</value>
            </setting>
            <setting name="DefaultResolution" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DefaultBrightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultLineWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultCrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOutputFolder" serializeAs="String">
                <value>&lt;Same as file&gt;</value>
            </setting>
            <setting name="MaxJobRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxConcurrentProcesses" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProcessStartDelay" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowAcroplotErrorDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAcroplotFontDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAcroplotProgressDialog" serializeAs="String">
                <value>False</value>
            </setting>
        </AcroPlotUI.Properties.Settings>
    </userSettings>
</configuration>
